[alias]
	a = add
	b = branch
	c = commit
	ca = commit --amend
	cane = commit --amend --no-edit
	cf = commit --fixup
	ch = checkout
	cw = commit --all --message="WIP"
	d = diff
	dc = diff --cached
	l = log
	lc = log --graph --oneline --pretty=format:'%C(yellow)%h%Creset%Cred%d%Creset %s %Cgreen%an%Creset %C(cyan)%cd%Creset'
	p = push
	pf = push --force
	pl = pull
	plr = pull --rebase
	r = rebase
	re = restore
	res = restore --staged
	s = status
	st = stash
	sta = stash apply
	stc = stash clear
	std = stash drop
	stp = stash pop
	sts = stash list
	sw = switch
	swc = switch --create
[color]
	ui = true
[core]
	attributesfile = ~/.gitattributes
	editor = code --new-window --wait
	excludesfile = ~/.gitignore
[diff]
	compactionHeuristic = true
	renames = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[log]
	date = auto:human
[push]
	default = simple
[rebase]
	autosquash = true
[user]
	email = adrian@pacala.uk
	name = Adrian Pacala
