[alias]
	a = add
	b = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cf = commit --fixup
	d = diff
	dc = diff --cached
	e = restore
	es = restore --staged
	h = stash
	ha = stash apply
	hc = stash clear
	hd = stash drop
	hp = stash pop
	hs = stash list
	k = checkout
	l = log
	p = push
	pf = push -f
	r = rebase
	s = status
	u = pull
	ur = pull -r
	w = switch
	wc = switch -c
	wip = commit -am "WIP"
[color]
	ui = true
[core]
	attributesfile = ~/.gitattributes
	editor = nvim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	compactionHeuristic = true
	renames = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[log]
	date = auto:human
[push]
	default = simple
[rebase]
	autosquash = true
[user]
	email = adrian@pacala.uk
	name = Adrian Pacala
