[alias]
	a = add
	b = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cf = commit --fixup
	ch = checkout
	d = diff
	dc = diff --cached
	l = log
	lc = log-compact
	log-compact = log --graph --oneline --pretty=format:'%C(yellow)%h%Creset%Cred%d%Creset %s %Cgreen%an%Creset %C(cyan)%cd%Creset'
	p = push
	pf = push --force
	pl = pull
	plr = pull --rebase
	r = restore
	rb = rebase
	rs = restore --staged
	s = status
	sh = stash
	sha = stash apply
	shc = stash clear
	shd = stash drop
	shp = stash pop
	shs = stash list
	sw = switch
	swc = switch --create
	w = wip
	wip = commit --all --message="WIP"
[color]
	ui = true
[core]
	attributesfile = ~/.gitattributes
	editor = nvim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	compactionHeuristic = true
	renames = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[log]
	date = auto:human
[push]
	default = simple
[rebase]
	autosquash = true
[user]
	email = adrian@pacala.uk
	name = Adrian Pacala
